/* 
## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/

:root {
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif; 
}

section {
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card {
    background: white;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-header {
    background-image: url('images/bg-pattern-card.svg');
    background-size: cover;
    height: 150px;
}

.card-body {
    padding: 10px 20px 20px;
}

.img-holder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: -50px auto 30px auto;
}

.img-holder img {
    width: 100%;
    height: auto;
    display: block;
}

.name-age {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.age,
.city,
.meta {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.age {
    font-weight: 400;
    margin-left: 6px;
}

.city {
    font-size: 1rem;
    margin-top: 10px;
}

.card-footer {
    border-top: 1px solid hsl(0, 0%, 59%);
    display: flex;
    padding: 0 25px;
}

.card-footer,
.items {
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-footer
.items
.values {
    font-size: 1rem;
    margin-bottom: 6px;
}

.card-footer
.items
.meta {
    font-size: .7rem;
    letter-spacing: 1px;
}

/* graphics (circles) */

.circles img {
    position: absolute;
}

.circles
.c1 {
    top: -400px;
    left: -350px;
}

.circles
.c2 {
    bottom: -400px;
    right: -350px;
}